# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# ---- Django ----
db.sqlite3
media/
staticfiles/
*.log

# ---- Environments ----
.env
venv/
env/
*.env  

# ---- VSCode ----
.vscode/

# ---- macOS ----
.DS_Store

# ---- Migrations ----
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py   # keep only the init file

# ---- Python build ----
build/
dist/
*.egg-info/

# ---- PyTest ----
.coverage
htmlcov/
.pytest_cache/